#foto{
    width: 130px;
    height: 120px;
    border-radius: 50%;
    margin-top: 2%;
    display:flex;
    margin-bottom: 2%;
}

.cabecalho{
    border-color: black;
    border-width: 2px;
    border-style:outset;
    width: 60%;
    display: block;
    background-image: url(gabrielgay.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.info{
    margin-left: 4%;
    font-family: Arial;
    line-height: 180%;
    align-items: center;
    letter-spacing: 2px;
}

#nome{
    font-size: 40px;
    margin-right: 60px;
}

.info p{
    margin-right: 60px;
}

.info i{
    margin-right: 60px;
}

.sobre{
    margin-top: 10px;
    border-color: black;
    border-width: 2px;
    border-style:outset;
    width: 60%;
    display: block;
    font-family: Arial;
    line-height: 180%;
    align-items: center;
    letter-spacing: 2px;
}

.sobre h3{
    margin-left: 4%;
}

.cursos h3{
    margin-left: 4%;
}

.xp h3{
    margin-left: 4%;
}

.cursos{
    margin-top: 10px;
    border-color: black;
    border-width: 2px;
    border-style:outset;
    width: 60%;
    display: block;
    font-family: Arial;
    line-height: 180%;
    align-items: center;
    letter-spacing: 2px;
}

.xp{
    margin-top: 10px;
    border-color: black;
    border-width: 2px;
    border-style:outset;
    width: 60%;
    display: block;
    font-family: Arial;
    line-height: 180%;
    align-items: center;
    letter-spacing: 2px;
}